.content{
    display:flex;
    justify-content: space-between;
    width: 1440px;
    font-family: 'Inter', sans-serif;
}

.content1{
    width:305px; 
    height:1315px; 
    background-color: white;
}

.label {
    background-color: #ffb400;
    color: black;
    padding: 2px 8px;
    display: inline-block;
    margin-bottom: 6px;
    margin-top: 6px;
    margin-left: 40px;
}

.label1 {
    font-weight: bold;
    color: black;
    padding: 2px 8px;
    margin-left: 40px;
}

.green{
    color: green;
    padding-left: 75px;
}

.info{
    background-color: orange;
    color: black;
    margin-left: 45px;
}

.progress {
   height: 6px;
   border-radius: 3px;
   margin: 3px 0 10px;
   margin-left: 45px;
   max-width: 212px;
}

.img{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 30px; 
    width: 75px;
}

.text{
    text-align: center;
}

.title{
    margin-left: 17px; 
    margin-bottom: 17px; 
    margin-top: 17px;
    font-size: larger;
    font-weight: 200;
}

.rate{
    margin-left: 17px; 
    opacity: 0.67; 
    line-height: 1.5;
}

.education{
    width:310px; 
    height:550px; 
    background-color: white; 
    text-align: center;
    align-items: center;
    padding-left: 40px;
    padding-top: 70px;
}

.month{
    margin-left: 20px; 
    background-color:  orange;
    color: white; 
    font-size: smaller;
}

.explain{
    padding-top: 25px; 
    display: inline-block; 
    opacity: 0.5; 
    width: 520px;
}

.right-nav a {
    width: 35px;
    height: 35px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    color: #333;
    margin-left: 40px;
    margin-bottom: 50px;
}

.right-nav a:hover {
    background: orange;
    color: #fff;
}